.reading__display {
  align-content: center;
}

.spread {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  
  &__number {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 1.5rem;
    text-align: center;
    width: 4rem;
    font-size: 1.6rem;
    
    &-label {
      display: inline;
      font-size: 2rem;
    }
  }
}

ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-justify: center;
  padding-inline-start: 0;
}


li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}