
button {
  background-color: $color-white;
  color: $color-black;
  padding: .2rem 2rem;
  text-align: center;
  font-size: calc(.6rem + 2vmin);
  border: none;
  border-radius: 1.5rem;


  &:hover {
    border-radius: 1.5rem;
    box-shadow: 0 .3rem .5rem 0 rgba($color-drop-shadow-light, 0.24), 0 .5rem 2rem 0 rgba($color-drop-shadow-light, 0.19);
    -moz-box-shadow: 0 .3rem .5rem 0 rgba($color-drop-shadow-light, 0.24), 0 .5rem 2rem 0 rgba($color-drop-shadow-light, 0.19);
    -webkit-box-shadow: 0 .3rem .5rem 0 rgba($color-drop-shadow-light, 0.24), 0 .5rem 2rem 0 rgba($color-drop-shadow-light, 0.19);
  }
}