*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // sets 1rem to 10px
  font-size: 62.5%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}