.deal-button {
  background-color: white;
  color: black;
  padding: 2px 20px;
  margin-top: 10px;
  text-align: center;
  font-size: calc(4px + 2vmin);
  border: none;
  border-radius: 15px;
}

.query-container {
  border: 1.5px solid skyblue;
  border-radius: 15px;
  padding: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.spread-number {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 15px;
  text-align: right;
}

.text-query {
  display: block;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}